{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <main>
    <div>
      <h1>Signup</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SignUp</button>
    </div>
  </main>
</body>

</html>