{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated %}
        <p>Welcome, {{user}}</p>
        <li><a href="{% url 'list_projects' %}">My Projects</a></li>

        <li><a href="{% url 'show_my_tasks' %}">My Tasks</a></li>
        <li><a href="{% url 'create_project' %}">Create Project</a></li>
        <li><a href="{% url 'create_task' %}">Create Task</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>

</html>