{% extends 'projects/base.html' %}

{% block title %}
Create Task
{% endblock title %}
{% block content %}
<div>
  <h1>Create a New Task</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
</div>
{% endblock content %}