{% extends 'projects/base.html' %}

{% block title %}
Create Project
{% endblock title %}
{% block content %}
<div>
  <h1>Create a New Project</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>
</div>
{% endblock content %}