{% extends 'projects/base.html' %}

{% block title %}
Project Detail
{% endblock title %}
{% block content %}
<div>
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>
  <h2>Tasks</h2>
  {% if project.tasks.all|length == 0 %}
  <p>This project has no tasks</p>
  {% else %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Is completed</th>
      </tr>
    </thead>
    <tbody>
      {% for task in project.tasks.all %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.assignee }}</td>
        <td>{{ task.start_date }}</td>
        <td>{{ task.due_date }}</td>
        <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock content %}